@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

.custom-truncate {
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
}

.bg-hero {
  background-image: url("/img/earth.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
  z-index: 100;
}

.background-trick {
  background: #111827; /* Old browsers */
  background: -moz-linear-gradient(top, #111827 0%, #111827 15%, #1f2937 15%, #1f2937 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #111827 0%,#111827 15%,#1f2937 15%,#1f2937 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #111827 0%,#111827 15%,#1f2937 15%,#1f2937 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#111827', endColorstr='#1f2937',GradientType=0 ); /* IE6-9 */
}



@tailwind base;
@tailwind components;

/* #tooltip {
    @apply  px-4 py-2 w-auto bg-gray-900 text-white text-sm rounded-md shadow hidden;
  }
  
  #tooltip[data-show] {
    @apply block;
  } */



@tailwind utilities;